
html {
    scroll-behavior: smooth;
}

#foto { 
    width: 256px;
    height: 256px;
    opacity: 0.9;
    transform: rotate(-4deg);
    cursor: cell;
}

p {
    text-indent: 5%;
}

.center, #boton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mail {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1, h4{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-shadow: 7px 6px 7px #4e0a6d;
}

.boton {
    color: rgb(255, 255, 255);
    font-size: 25px;
    line-height: 25px;
    padding: 5px;
    border-radius: 35px;
    font-family: Georgia, serif;
    background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
    box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
    border: 2px solid rgb(28, 110, 164);
    transition-duration: 0.5s;
}

.boton:hover {
    background: #1C6EA4;
}

.boton:active {
    background: #144E75;
}